:root{
    --blue: #1E3D6D;
    --red: #B71F35;
    --white: #F5F5F5;
}

body{
    font-family: "Kanit", sans-serif !important;
    color: var(--blue);
}

.row{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
}

.text-blue{
    color: var(--blue) !important;
}

.text-red{
    color: var(--red) !important;
}

.shadow-4 {
    box-shadow: 0 2px 4px -1px #0003,0 4px 5px #00000024,0 1px 10px #0000001f;
}

[data-fancybox]:hover{
    cursor: pointer;
}

.fs-0{
    font-size: 3rem;
}

.fw-light{
    font-weight: 200 !important;
}

.mt-6{margin-top: 6rem;}
.mb-6{margin-bottom: 6rem;}
.my-6{
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.fondo-oscuro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.fondo-azul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 61, 109, 0.4);
    z-index: 1;
}

.btn-blue{
    background-color: var(--blue);
    color: #fff !important;
}

.btn-blue:hover, .btn-blue:focus{
    background-color: #00335a;
    transition: 0.2s;
}

.btn-red{
    background-color: var(--red);
    color: #fff !important;
}

.btn-red:hover, .btn-red:focus{
    background-color: #8e1527;
    transition: 0.2s;
}

.bg-blue{
    background-color: var(--blue);
    color: #fff;
}

.bg-red{
    background-color: var(--red);
    color: white;
}

.nav-link:hover, .navlink:focus{
    color: rgba(30, 61, 109, 1)
}

.nav-link, .dropdown-item {
    color: rgba(30, 61, 109, 0.9) !important;
}

label{
    font-size: 16px;
    font-weight: 300;
    color: var(--blue);
    width: 100% !important;
}

textarea{
    height: 100px !important;
}

.contact-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--blue);
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-danger {
    --bs-btn-color: var(--red);
    --bs-btn-border-color: var(--red);
    --bs-btn-hover-bg: var(--red);
    --bs-btn-hover-border-color: var(--red);
    --bs-btn-active-bg: var(--red);
    --bs-btn-active-border-color: var(--red);
    --bs-btn-disabled-color: var(--red);
    --bs-btn-disabled-border-color: var(--red);
}

.splide__pagination__page.is-active {
    background: var(--red);
    border: 1px solid var(--white);
    transform: scale(1.4);
    z-index: 1;
}

.splide__pagination__page {
    background: transparent;
    border: 1px solid var(--white);
    opacity: .9;
}

.btn-light {
    --bs-btn-color: var(--blue);
    --bs-btn-active-color: var(--blue);
}

.single-main-img{
    height: 60vh;
    object-fit: cover;
}

.single-secondary-img{
    height: 30.5vh;
    object-fit: cover;
}

.navigation{
    justify-content: center;
}

.nav-links{
    display: flex;
}

.page-numbers {
    position: relative;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: 18px;
    color: var(--blue);
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--blue);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-numbers:hover{
    background-color: var(--blue);
    color: white;
    transition: 0.3s;
}

.navigation .current{
    color: white;
    background-color: var(--blue);
}

.nav-links .next{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-links .prev{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

li::marker{
    color: var(--red);
}

@media (max-width: 992px) {
    .fs-0{
        font-size: 2.5rem;
    }
    
    .mt-6{margin-top: 4.5rem;}
    .mb-6{margin-bottom: 4.5rem;}
    .my-6{
      margin-top: 4.5rem;
      margin-bottom: 4.5rem;
    }

    .single-main-img{
        height: 35vh;
    }
    
    .single-secondary-img{
        height: 20vh;
    }
   
}